@property --archivist-step-background-color {
  syntax: "<color>";
  inherits: true;
  initial-value: white;
}

@property --archivist-step-color {
  syntax: "<length>#";
  inherits: true;
  initial-value: 150, 150, 150;
}

.step {
  &:not(:last-child) {
    flex: 1;
  }

  --archivist-step-background-color: white;
  --archivist-step-border-color: rgb(225, 228, 234);
  --archivist-step-color: 150, 150, 150;
  --archivist-step-animation: step-back;

  &.step--done {
    --archivist-step-background-color: transparent;
    --archivist-step-border-color: transparent;
    --archivist-step-color: 31, 193, 107;
    --archivist-step-animation: step;
  }

  > div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    transition:
      box-shadow 0.35s,
      background-color 0.35s;
    flex: 1;
    height: 20px;
    position: relative;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--archivist-step-background-color);
      border: 1px solid var(--archivist-step-border-color);
      border-radius: 50%;
      width: 20px;
      height: 20px;
      color: rgb(82, 88, 102);
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
      text-align: center;
      cursor: pointer;
      transition: box-shadow 0.35s;

      &:hover {
        box-shadow: 0 0 0 2pxrgba (150, 150, 150, 0.2);
      }
    }

    hr {
      border: 0;
      height: 4px;
      flex: 1;
      background-color: rgb(150, 150, 150);
      border-radius: 40px;
      position: relative;
      margin-bottom: 8px;

      &::before {
        background-color: rgba(var(--archivist-step-color), 1);
        height: 4px;
        content: " ";
        position: absolute;
        z-index: 1;
        animation-duration: 1s;
        animation-name: var(--archivist-step-animation);
        animation-fill-mode: forwards;
        border-radius: 40px;
      }
    }
  }

  > div:nth-child(2) {
    display: block;
    padding-left: 38px;

    small {
      font-size: 8px;
      font-weight: 700;
      line-height: 8px;
      text-align: left;
      color: rgba(var(--archivist-step-color), 0.6);
      display: block;
    }

    span {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: -0.006em;
      text-align: left;
      color: rgba(var(--archivist-step-color), 1);
    }
  }
}

@keyframes step-back {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}

@keyframes step {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
