.empty-placeholder-icon {
  border: none;
  color: rgb(38 38 38);

  .dark\:fill-neutral-800 {
    fill: rgb(38, 38, 38);
  }

  .dark\:fill-neutral-700 {
    fill: rgb(64, 64, 64);
  }

  .dark\:fill-neutral-700\/30 {
    fill: rgb(64 64 64 / 0.3);
  }

  .dark\:fill-neutral-700\/70 {
    fill: rgb(64 64 64 / 0.7);
  }
}
