.text--normal {
  color: var(--codex-color);
}

.text--primary {
  color: var(--codex-color-primary);
}

.text--light {
  color: var(--codex-color-light);
}

.text--center {
  text-align: center;
}

.text--error {
  color: rgb(var(--codex-color-error));
}

.text--warning {
  color: rgb(var(--codex-color-warning));
}

.text--bold {
  font-weight: bold;
}
