.input {
  &.input--big {
    --codex-input-height: 64px;
  }

  &.input--medium {
    --codex-input-height: 40px;
  }

  input {
    background-color: #14141499;
    color: white;
    border-radius: var(--codex-border-radius);
    border: 1px solid var(--codex-input-border-color);
    padding: 16px;
    outline: none;
    display: inline-block;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 20px;
    height: var(--codex-input-height);
    position: relative;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.006em;

    &::placeholder {
      font-family: Inter;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: -0.006em;
    }
  }

  &.input--invalid input {
    color: var(--codex-input-color-error);
    border-color: var(--codex-input-color-error);
  }

  label {
    margin-bottom: 0.75rem;
    display: block;
    font-family: var(--codex-input-font-family, var(--codex-font-family));
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.006em;
    text-align: left;
    color: var(--codex-input-label-color);
  }

  & input:not(.input[disabled]):active,
  & input:not(.input[disabled]):focus {
    box-shadow: 0 0 0 1px var(--codex-border-color);
  }

  & input[disabled] {
    background-color: var(--codex-input-background-disabled);
    cursor: not-allowed;
  }

  &.input--icon input {
    padding-left: 2.5rem;
  }

  > div {
    position: relative;

    div {
      position: absolute;
      height: 100%;
      padding: 0 0.75rem;
      display: flex;
      align-items: center;
      z-index: 1;
    }
  }

  small {
    margin-top: 0.25rem;
    display: inline-block;
    font-size: 0.9rem;
    color: var(--codex-input-label-color);
  }

  &.input--invalid small {
    color: var(--codex-color-error-hexa);
  }
}
