.placeholder {
  text-align: center;
  margin: auto;
}

.placeholder-icon {
  display: block;
  margin: auto auto 0.75rem;
}

.placeholder-title {
  margin-bottom: 0.25rem;
  display: inline-block;
}

.placeholder-subtitle {
  margin-bottom: 0.25rem;
  max-width: 600px;
  margin: auto;
}

.placeholder-button {
  margin: 0.75rem auto 0;
}
