.placeholder {
  text-align: center;
  margin: auto;

  > div:first-child {
    display: block;
    margin: auto auto 0.75rem;
  }

  b {
    margin-bottom: 0.25rem;
    display: inline-block;
  }

  p {
    margin-bottom: 0.25rem;
    max-width: 600px;
    margin: auto;
    color: rgb(150, 150, 150);
  }

  .button {
    margin: 0.75rem auto 0;
  }
}
