.menu {
  display: flex;
  flex-direction: column;
  background-color: var(--codex-background-secondary);
  border-radius: var(--codex-border-radius);
  transform: translatex(-500px);
  transition: transform 0.25s;
  position: fixed;
  min-width: 200px;
  z-index: 10;
  view-transition-name: main-menu;
  height: 100%;
  top: 0;
  left: 0;
}

.menu-container {
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  flex: 1;
}

.menu-backdrop {
  display: none;
}

.menu-items {
  flex: 1;
}

.menu[aria-expanded] {
  transform: translatex(0);
  min-width: 200px;
}

.menu-header {
  margin-bottom: 0.75rem;
}

.menu-item,
.menu-header {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.menu-item {
  padding: 0.75rem;
  color: var(--codex-color);
  margin-bottom: 0.75rem;
  text-decoration: none;
}

.menu-item:hover,
.menu-item.active {
  background-color: var(--codex-background-light);
}

.menu-title {
  text-transform: uppercase;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 0.75rem;
  display: inline-block;
  font-weight: 500;
}

.menu-item-separator {
  border: 0.1px solid var(--codex-border-color);
  width: 100%;
}

.menu-state {
  font-size: 0.6rem;
  background-color: var(--codex-background-light);
  padding: 0.25rem;
  border-radius: var(--codex-border-radius);
  position: relative;
  top: 1px;
}

.menu-footer {
  text-align: center;
}

.menu-version {
  padding: 0;
}

@media (min-width: 1000px) {
  .menu {
    transform: translatex(0px);
    position: inherit;
  }
}
