.tabs {
  display: flex;
  margin-top: 1rem;
  position: relative;
  border-bottom: 2px solid #96969633;
  border-radius: 6px;
  padding: 0px 8px 0px 4px;
  gap: 16px;

  div {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    transition: 0.35s opacity;
    z-index: 1;
    position: relative;
    top: 2px;
    border-bottom: 2px solid transparent;
    padding: 8px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.006em;
    text-align: center;
    color: #969696;

    &:hover {
      opacity: 0.85;
    }

    &[aria-selected] {
      color: var(--codex-color-primary);
      border-bottom: 2px solid var(--codex-color-primary);
    }

    &[aria-selected]:first-child {
      border-bottom-left-radius: 6px;
    }

    &[aria-selected]:last-child {
      border-bottom-right-radius: 6px;
    }
  }
}
