@property --archivist-toast-background-color {
  syntax: "<color>";
  inherits: false;
  initial-value: rgba(111, 203, 148, 0.2);
}

@property --archivist-toast-color {
  syntax: "<color>";
  inherits: true;
  initial-value: rgb(111, 203, 148);
}

.toast {
  position: fixed;
  min-width: 150px;
  transition: top 0.35s;
  top: 50px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px;
  color: white;
  word-break: break-word;
  border-radius: 6px;
  border-bottom: 2px solid var(--archivist-toast-color);
  background: var(--archivist-toast-background-color);
  z-index: 20;
  backdrop-filter: blur(32px);
  left: 0;
  right: 0;
  max-width: 450px;
  margin: auto;

  @media screen and (max-width: 800px) {
    & {
      max-width: 300px;
    }
  }

  &[aria-hidden] {
    top: -1000px;
  }

  &.toast--success {
    --archivist-toast-background-color: rgba(111, 203, 148, 0.2);
    --archivist-toast-color: rgb(111, 203, 148);

    svg {
      color: rgb(111, 203, 148);
    }
  }

  &.toast--error {
    --archivist-toast-background-color: rgba(251, 55, 72, 0.2);
    --archivist-toast-color: rgb(251, 55, 72);
  }

  .button {
    margin-left: 0.75rem;
  }

  b {
    text-transform: capitalize;
    display: block;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
  }

  div {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  span {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: rgba(255, 255, 255, 0.8);
  }

  svg {
    cursor: pointer;
    color: var(--archivist-toast-color);
  }
}
