.inputGroup-element {
  display: flex;
  align-items: flex-end;
}

.inputGroup-container {
  flex-grow: 1;
}

input.inputGroup-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}

select.inputGroup-select {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  min-width: 110px;
}

.inputGroup-unit {
  display: flex;
  align-items: center;
  border: 1px solid var(--codex-border-color);
  border-top-right-radius: var(--codex-border-radius);
  border-bottom-right-radius: var(--codex-border-radius);
  background-color: var(--codex-border-color);
  padding: calc(0.5rem + 0.5px);
}

.inputGroup-inputContainer {
  flex: 1;
}
