.input-group {
  > div {
    flex-grow: 1;

    > div {
      display: flex;
      align-items: flex-end;

      > div:first-child {
        flex: 1;

        input {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          border-right: none;
        }

        select {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          min-width: 110px;
        }
      }

      > div:nth-child(2) {
        display: flex;
        align-items: center;
        border: 1px solid var(--codex-border-color);
        border-top-right-radius: var(--codex-border-radius);
        border-bottom-right-radius: var(--codex-border-radius);
        background-color: var(--codex-border-color);
        padding: calc(0.5rem + 0.5px);
      }
    }
  }

  p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 0;

    small {
      height: 15px;
      display: inline-block;
    }
  }
}
