.upload {
  border: 1px dashed var(--codex-border-color);
  background-color: var(
    --codex-upload-background,
    var(--codex-background-secondary)
  );
  min-height: 150px;
  border-radius: var(--codex-border-radius);
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  padding: 0.5rem 2rem;
  display: flex;

  b {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.011em;
    display: block;

    span {
      color: var(--codex-color-primary);
      border-bottom: 1px solid var(--codex-color-primary);
      font-family: Inter;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: -0.011em;
    }
  }

  small {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.006em;
    text-align: left;
    color: #969696;
  }

  input + span {
    color: var(--codex-color-warning);
  }
}
