@property --archivist-upload-border-radius {
  syntax: "<length>";
  inherits: false;
  initial-value: 10px;
}

@property --archivist-upload-border-color {
  syntax: "<color>";
  inherits: false;
  initial-value: rgba(105, 105, 105, 0.2);
}

@property --archivist-upload-background-color {
  syntax: "<color>";
  inherits: false;
  initial-value: rgba(20, 20, 20, 0.6);
}

@property --archivist-upload-color {
  syntax: "<color>";
  inherits: false;
  initial-value: rgba(150, 150, 150, 1);
}

.upload {
  border: 1px solid var(--archivist-upload-border-color, rgba(105, 105, 105, 0.2));
  background-color: var(--archivist-upload-background-color, rgba(20, 20, 20, 0.6));
  min-height: 150px;
  border-radius: var(--archivist-upload-border-radius, 10px);
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  padding: 0.5rem 2rem;
  display: flex;

  b {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.011em;
    display: block;

    span {
      color: rgb(111, 203, 148);
      border-bottom: 1px solid rgb(111, 203, 148);
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: -0.011em;
    }
  }

  small {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.006em;
    text-align: left;
    color: var(--archivist-upload-color, rgba(150, 150, 150, 1));
  }

  input + span {
    color: rgb(251, 198, 75);
  }
}
