.upload {
  border: 1px dashed var(--codex-border-color);
  background-color: var(
    --codex-upload-background,
    var(--codex-background-secondary)
  );
  min-height: 150px;
  border-radius: var(--codex-border-radius);
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;

  p {
    margin-bottom: 0;
    margin-top: 12px;
    line-height: 4px;

    span {
      color: var(--codex-color-primary);
    }
  }

  small {
    color: var(--codex-input-label-color);
  }

  input + span {
    color: var(--codex-color-warning);
  }
}
