@property --codex-alert-color {
  syntax: "<length>#";
  inherits: false;
  initial-value: 111, 203, 148;
}

@property --codex-alert-border-radius {
  syntax: "<length>#";
  inherits: false;
  initial-value: 6px;
}

.alert {
  border-bottom: 2px solid rgb(var(--codex-alert-color));
  background-color: rgba(var(--codex-alert-color), 0.2);
  color: 1px solid var(--codex-alert-color);
  border-radius: var(--codex-alert-border-radius);
  padding: 12px;
  word-break: break-word;
  display: flex;
  gap: 1rem;

  b {
    text-transform: capitalize;
    margin-bottom: 0.25rem;
    display: inline-block;
  }

  span {
    height: 20px;
    min-width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      display: flex;
      color: rgb(var(--codex-alert-color));
      fill: rgb(var(--codex-alert-color));
    }
  }

  svg {
    color: rgb(var(--codex-alert-color));
    min-width: 20px;
  }

  &.alert--success {
    --codex-alert-color: 111, 203, 148;
  }

  &.alert--warning {
    --codex-alert-color: 251, 198, 75;
  }
}
