.backdrop[aria-expanded] {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--codex-background-backdrop);
  display: none;
  backdrop-filter: blur(2px);
  display: block;
  z-index: 10;
}

.document-noOverflow {
  overflow: hidden;
}
