.nodeSpaceAllocation-bar {
  height: 10px;
  display: flex;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
}

.nodeSpaceAllocation-barQuota {
  width: 10%;
}

.nodeSpaceAllocation-barItem {
  display: inline-block;
  height: 100%;
  border-radius: var(--codex-border-radius);
}

.nodeSpaceAllocation-barQuota-used {
  border-top-left-radius: var(--codex-border-radius);
  border-bottom-left-radius: var(--codex-border-radius);
  border-radius: var(--codex-border-radius);
}

.nodeSpaceAllocation-quota-0 {
  background-color: var(--codex-color);
}

.nodeSpaceAllocation-quota-1 {
  background-color: var(--codex-color-primary);
}

.nodeSpaceAllocation-quota-2 {
  background-color: #f9fa93;
}

.nodeSpaceAllocation-legend {
  margin-top: 0.75rem;
}

.nodeSpaceAllocation-legendItem {
  width: 1rem;
  height: 1rem;
  border-radius: var(--codex-border-radius);
}

.nodeSpaceAllocation-legendRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.75rem;
  gap: 0.75rem;
}

.nodeSpaceAllocation-legendLeft {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
