.table {
  border-collapse: collapse;
  width: 100%;
}

.table-placeholder {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.table-placeholderText {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.table-container {
  border: 1px solid var(--codex-border-color);
  background-color: var(--codex-background-secondary);
  padding: 2rem;
  border-radius: var(--codex-border-radius);
  overflow-x: auto;
  overflow-y: hidden;
}

.table-theadTr {
  border-bottom: 1px solid var(--codex-border-color);
}

.table-theadTh {
  color: var(--codex-color-light);
  font-weight: normal;
  text-transform: uppercase;
  font-size: 0.9rem;
  text-align: left;
  padding: 1rem;
}

.table-theadTh--clickable {
  cursor: pointer;
}

.table-theadTh-content {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.table-theadTh-content svg {
  position: relative;
  top: -2px;
  cursor: pointer;
}

.table-theadTh-content svg path {
  opacity: 0.5;
  transition: opacity 0.35s;
}

.table-theadTh-icon--desc path:nth-child(1),
.table-theadTh-icon--desc path:nth-child(2) {
  opacity: 1;
}

.table-theadTh-icon--asc path:nth-child(3),
.table-theadTh-icon--asc path:nth-child(4) {
  opacity: 1;
}
